<h1>Order Confirmation</h1>

<h3>Name:</h3>
<p><%= @shoe.pretty_name() %></p>

<h3>Address:</h3>
<p><%=@shoe.address() %></p>

<h3>Quantity:</h3>
<p><%=@shoe.quantity() %></p>

<h3>Size:</h3>
<p><%=@shoe.quantity() %></p>

<h3>Total:</h3>
<p><%=@shoe.total() %></p>